.App {
  text-align: center;
  display: flex;
  width: 700px;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 20px;

  .display,
  .btn-panel {
    display: flex;
    width: 100%;
  }

  .btn-panel {
    flex-direction: column;

    .btn {
      width: 25%;
      height: 100%;
      border: 1px solid #7c7c7c;
      font-size: large;
    }

    .btn:hover {
      cursor: pointer;
    }

    .btn-wide {
      width: 50%;
    }
  }

  .display,
  .btn-group {
    height: 100px;
  }

  .display {
    background-color: gray;
    color: white;
    font-weight: bold;
    font-size: xxx-large;
    padding: 0 10px;
    justify-content: flex-end;
    align-items: center;
    border-radius: 5px 5px 0 0;
  }
}

.btn-orange {
  background-color: orange;
}

.btn-orange:hover {
  background-color: darkorange;
}

.btn-lightgray {
  background-color: rgb(220, 220, 220);
}

.btn-lightgray:hover {
  background-color: rgb(200, 200, 200);
}
